.place__paragraph {
    margin: 0 auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.63;
    color: #FFFFFF; 
}

.place__paragraph:first-of-type {
    margin-bottom: 26px;
}