@import url(../vendor/normalize.css);

@import url(../blocks/page/page.css);

/* HEADER */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);
@import url(../blocks/header/__logo/header__logo.css);

/* LEAD */
@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__caption/lead__caption.css);

/* INTRO */
@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__list/intro__list.css);

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("../vendor/fonts/InterWeb/Inter-Regular.woff2?v=3.19") format("woff2"),
            url("../vendor/fonts/InterWeb/Inter-Regular.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 700;
    font-display: swap;
    src: url("../vendor/fonts/InterWeb/Inter-Bold.woff2?v=3.19") format("woff2"),
            url("../vendor/fonts/InterWeb/Inter-Bold.woff?v=3.19") format("woff");
}
  
@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 900;
    font-display: swap;
    src: url("../vendor/fonts/InterWeb/Inter-Black.woff2?v=3.19") format("woff2"),
            url("../vendor/fonts/InterWeb/Inter-Black.woff?v=3.19") format("woff");
}

@media screen and (min-width: 1024px) and (max-width: 1279px)  {
  .lead {
    margin: 48px 48px 0 48px;
  }
  .intro {
    margin: 92px auto 0 48px;  
  }
}


@media screen and (min-width: 768px) and (max-width: 1023px)  {
  .header {
    margin: 28px 24px 0 24px;
  }
  .lead {
    margin: 0;
    margin-top: 48px;
  }
  .lead__caption {
    margin: 8px 0 0 24px;
  }
  .intro {
    width: 720px;
    margin: 88px auto 0 24px;  
  }
}

@media screen and (min-width: 320px) and (max-width: 767px)  {
  .header {
    margin: 16px 16px 0 16px;
  }
  .header__logo {
    width: 142px;
    height: 42px;
  }
  .header__lang-link {
    font-size: 18px;
  }
  .lead {
    margin: 48px 2px 0 2px;
  }
  .lead__title {
    max-width: 288px;
    font-size: 40px;
  }
  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    margin-top: 16px;
  }
  .lead__image {
    margin-top: 40px;
  }
  .lead__caption {
    margin: 8px 0 0 16px;
  }

  .intro {
    width: 288px;
    margin: 64px auto 0 16px;  
  }
  .intro__title {
    font-size: 32px;
    line-height: 1.09;
}
}